# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a90bccef8995fee592716670251ac86df742b9e64b3bcfde85e3399705ed51941d2416697917862252be0cbb0c2032cf737dfd8acb3cede08a123b8e49eee72a

test:
  secret_key_base: 94b9d8b6c24a3b3cebb0c0c8a5c17f5770d2f6e564d514ad30588e360a7627192d84a0d08bd7bb1f95b7e13bfb2370f6a81ebbbae66a9187d83139fbbfdd7ad1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["ACTIVITY_LOGGER_SECRET_KEY_BASE"] %>
